<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ssutown.manna2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".KakaoLogin.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity" />
        <activity android:name=".MeetingFragment.MeetingMainActivity" />
        <activity android:name=".MeetingRoom.Add_Meeting" />
        <activity android:name=".Fragment.OutlookLogin" />
        <activity android:name=".MeetingFragment_Merge.BaseActivity" />
        <activity android:name=".Fragment.GoogleLogin" />
        <activity android:name=".MaterialCalendar_Person.AddAppointment_Person" />
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Add in your scheme/host from registered redirect URI -->
                <!-- By default, the scheme should be similar to 'msal[appId]' -->
                <data
                    android:host="auth"
                    android:scheme="msal8124e310-520e-4c43-b3d6-d553c7ec72fd" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeFragment.ChangeProfile" />
        <activity android:name=".Fragment.OutlookCalendar" />
        <activity android:name=".MeetingFragment.Editmeeting"></activity>
        <activity android:name=".FragmentSetting_Announce.Announce"/>
        <activity android:name=".FragmentSetting_PatternLock.PatternLock"/>
        <activity android:name=".FragmentSetting_PatternLock.Security"/>
        <activity android:name=".FragmentSetting_PatternLock.Security_Lock"/>
        <activity android:name=".FragmentSetting_PatternLock.PatternLockCheck"/>

    </application>

</manifest>